
/* @media only screen and (max-width:480px)*/
@import url('https://fonts.googleapis.com/css?family=Quicksand');
.pcmenu,.pcview,.pcadmission,.pcresearch,.pcnewscontent,.pcnews1 {
  display: none;
}
.pcnews2,.news3,.pcdate,.event1_img_pc,.pcdate,.event2_img_pc,.event3{
  display: none;
}
.container {
  width: 93%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* logo */
.logo {
  width: 100%;
  margin-top: 17px;
  margin-left: 17px;
  margin-bottom: 20px;

}
/* end of logo css */
/* hamburger css */
.hamburger{
  background:none;
  position:absolute;
  right: 0px;
  top: 0px;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color: black;
  border:0;
  font-size:2em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
  margin-top: 36px;
  margin-right: 22px;
  display: block;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color: black;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
  margin-top: 36px;
  margin-right: 22px;
  display: block;
}
.menu {
  margin-right: 0;
  z-index:1000000;
  font-weight:bold;
  font-size:0.8em;
  font-family: Quicksand;
  width:30%;
  background-color: black;
  color: red;
  position:absolute;
  text-align:center;
  font-size:12px;
  opacity: 0.8;
  margin-top: -24px;
  margin-left: 70%;
 }
.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
.menu li {
  display: block;
  padding:15px 0 15px 0;
  border-bottom:#dddddd 1px solid;
}
.menu li:hover{
  display: block;
  background-color: red ;
  color: white;
  padding:15px 0 15px 0;
  border-bottom:#dddddd 1px solid;
 }
.menu ul li a {
  text-decoration:none;
  margin: 0px;
  color: red;
}
.menu ul li a:hover {
  color: white;
  text-decoration:none;

}
.menu a {
  text-decoration:none;
  color: red;
  font-family: Quicksand;

}
.menu a:hover {
  text-decoration:none;
  color: white;

}
.glyphicon-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}
.header_wrapper {
  display:block;
  font-size:12px;
  width: 100%;
}
.header_::after {
    content: "";
    clear: both;
    display: block;
}
.span {
  padding-left:20px;
}
/* end of hamburger */
 /* Main Visual image */
.main_image {
  max-width: 100%;
  height: 510px;
  margin: 0 auto;
  background-image: url(../Image/mobilemain.jpg);
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
}
/* end of main visual image */
/* hero text Division */

.hero_text {
  font-size: 25px;
  font-family: Quicksand;
  padding-top: 157px;
  padding-left: 15px;
  color: white;
  text-align: center;
}
.main_button {
  font-size: 16px;
  font-family: Quicksand;
  padding: 3px;
  background-color: black;
  border: none;
  opacity: 0.7;
  text-align: center;
  color: white;
  line-height: 100%;
  width: 207px;
  height: 43px;
  transition: all ease .5s;
  cursor: pointer;

  margin-top: 40px;

}
.main_button:hover {
  background-color: red;
  color: white;
}
/* end of hero text Division */
/* programmes Division css */
.programmes {
  margin-top: 50px;
  width: 93%;
  text-align: center;
  margin-left: 15px;
}
.programmes::after {
    content: "";
    clear: both;
    display: block;
}
.programmes h2 {
  font-family: Quicksand;
  font-size: 28px;
  font-weight: normal;
  font-style: bold;
}

/* programmes_list css */
.programmes_list {
  list-style-type: none;
  margin-top: 30px;
  margin: 0 auto;
  color: white;
  width: 93%;

}
.programmes_list h3 {
  font-size: 25px;
  font-family: Quicksand;
  padding-left: 25px;
  text-align: left;
  font-weight: normal;
  color: red;
}
.programmes_list p {
  width: 330px;
  margin-top: 10px;
  font-size: 19px;
  padding-left: 17px;
  font-family: Quicksand;
  font-weight: lighter;
  text-align: left;
}
.ug p {
  max-width: 280px;
}
.prog_button1 {
    font-size: 18px;
    font-family: Quicksand;
    padding: 5px;
    background-color: red;
    color: white;
    line-height: 100%;
    width: 98px;
    height: 35px;
    text-align: center;
    transition: all ease .5s;
    cursor: pointer;
    margin-top: 18px;
    border: none;
}
.prog_button1:hover {
  background-color: black;
  color: white;
}
.prog_button2 {
    font-size: 18px;
    font-family: Quicksand;
    padding: 5px;
    background-color: red;
    color: white;
    line-height: 100%;
    width: 98px;
    height: 35px;
    text-align: center;
    transition: all ease .5s;
    cursor: pointer;
    margin-top: 18px;
    border: none;
}
.prog_button2:hover {
  background-color: black;
  color: white;
}
/* pg Division css */
.pg {
    background-image: url(../Image/mobilepg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    margin-top: 30px;
    padding: 10px;

}
/* ug division css */
.ug {
  background-image:  url(../Image/mobileug.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  margin-top: 27px;
  padding: 10px;
}
/* end of programmes division */
/* admission css */
.admission {
  margin-top: 54px;
  width: 100%;
  font-family: Quicksand;
}
.admission::after {
    content: "";
    clear: both;
    display: block;
}
.admission h3 {
  font-family: Quicksand;
  font-size: 28px;
  font-weight: normal;

  font-style: bold;
  text-align: center;
}
.admission_image {
  background-image: url(../Image/mobilead.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
  margin-top: 30px;
  color: white;
}
.admission_image h3 {
  font-size: 25px;
  font-weight: normal;
  font-style: bold;
  padding-top: 10px;
  color: red;

  padding-left: 64px;
  text-align: left;
}
.admission_image h4 {
  font-size: 20px;
  font-weight: lighter;
  padding-top: 10px;
  padding-left: 55px;
}

.admission_image p {
  max-width: 80%;
  padding-left: 55px;
  margin-top: 10px;
  font-size: 17px;
  margin-left: 0;
  font-family: Quicksand;
}
.ad_button {
    font-size: 18px;
    font-family: Quicksand;
    padding: 5px;
    background-color: red;
    color: white;
    line-height: 100%;
    width: 115px;
    height: 35px;
    text-align: center;
    transition: all ease .5s;
    cursor: pointer;
    border: none;
    margin-top: 11px;
    margin-left: 55px;
    margin-bottom: 10px;
  }
  .ad_button:hover {
    background-color: black;
    color: white;
  }
  /* end of admission css */
  /* Research css */
.Research {
    margin-top: 54px;
    font-family: Quicksand;
}
.Research::after {
    content: "";
    clear: both;
    display: block;
}
.Research h2 {
  font-family: Quicksand;
  font-size: 28px;
  font-weight: normal;
  text-align: center;
}
  .research_image {
    background-image: url(../Image/mobileresearch.jpg);
    background-repeat: no-repeat;
    max-width: 100%;
    height: 301px;
    margin-top: 30px;
    margin-left: 25px;
    color: white;
    padding: 5px;
  }
  .research_image h3 {
    font-size: 25px;
    font-family: Quicksand;
    padding-top: 10px;
    padding-left: 25px;
    font-weight: normal;
    font-style: bold;
    color: red;
  }
  .research_image p {
    max-width: 86%;
    font-family: Quicksand;
    padding-left: 25px;
    margin-top: 10px;
    font-size: 17px;
    margin-left: 0px;
    font-weight: lighter;
    padding-top: 0px;
  }
  .research_button {
    font-size: 18px;
    padding: 2px;
    font-family: Quicksand;
    background-color: red;
    color: white;
    line-height: 100%;
    width: 97px;
    height: 35px;
    text-align: center;
    transition: all ease .5s;
    cursor: pointer;
    border: none;
    font-weight: lighter;
    margin-top: 18px;
    margin-left: 25px;
  }
  .research_button:hover {
    background-color: black;
    color: white;
  }
  /* end of research css */
/* news css */
.news {
  margin-top: 54px;
  width: 83%;
  text-align: center;
  margin-left: 40px;
}
.news::after {
    content: "";
    clear: both;
    display: block;
}
.news h2 {
  font-family: Quicksand;
  font-size: 28px;
  font-weight: normal;
}

.news_list {
  list-style-type: none;
  margin-top: 30px;
}
.a {
  margin-top: 20px;
}

.b {
  margin-top: 10px;
}

.news1_content {
  max-width: 400px;
  height: 114px;
  margin-top: 0 auto;
  font-size: 19px;
  font-family: Quicksand;
  padding-top: 10px;
  border: 0.5px solid #000;
  margin-top: -4px;
  padding-right: 0px;
  text-align: center;
}
.news1_content p {
  font-family: Quicksand;
  font-size: 19px;
  font-weight: normal;
  font-style: bold;
  color: red;
}

.news1_button {
  align: center;
  float: left;
  font-size: 18px;
  font-family: Quicksand;
  padding: 5px;
  background-color: red;
  color: white;
  line-height: 100%;
  width: 96.75px;
  height: 35px;
  text-align: center;
  transition: all ease .5s;
  cursor: pointer;
  margin-left: 35%;
  margin-top: 9px;
  border: none;
}
.news1_button:hover {
  background-color: black;
  color: white;
}

.news2 {
  margin-top: 30px;
}

.news2_content {
  border: 0.5px solid black;
  max-width: 400px;
  height: 114px;
  margin-top: -4px;
  font-size: 19px;
  font-family: Quicksand;
  font-weight: normal;
  padding-top: 10px;
  padding-right: 0 px;
  text-align: center;
  color: red;
}

.news2_button {
  margin-top: 10px;
  align: center;
  float: left;
  font-size: 18px;
  font-family: Quicksand;
  padding: 5px;
  background-color: red;
  color: white;
  line-height: 100%;
  width: 98px;
  height: 35px;
  text-align: center;
  transition: all ease .5s;
  cursor: pointer;
  border: none;
  margin-left: 35%;
  margin-top: 9px;
}
.news2_button:hover {
  background-color: black;
  color: white;
}

.view_button {
  margin-top: 40px;
  margin-left: 65%;
  align: center;
  font-size: 18px;
  font-family: Quicksand;
  padding: 5px;
  background-color: black;
  color: white;
  line-height: 100%;
  width: 113px;
  height: 36px;
  text-align: center;
  transition: all ease .5s;
  cursor: pointer;
  border-color: black;
}
.view_button:hover {
  background-color: red;
  color: white;
}
/* end of news css */

/* events css */
.events {
  margin-top: 50px;
  width: 83%;
  text-align: center;
  margin-left: 40px;

}
.events::after {
    content: "";
    clear: both;
    display: block;
}

.events h2 {
  font-family: Quicksand;
  font-size: 28px;
  font-weight: normal;

}

.event1 {
  margin-top: 30px;

}

.event1_img {
  float: left;
  padding-right: 15px;
}
.first{
  font-size: 16px;
  font-family: Quicksand;
  font-weight: normal;
  padding: 3px;
  color: red;
  text-align: left;
}
.second {
  font-size: 15px;
  font-family: Quicksand;
  font-weight: normal;
  padding: 3px;
  text-align: left;
}
.second2 {
  text-align: left;
}
.second1 {
  text-align: left;
}
.first2{
  font-size: 16px;
  font-family: Quicksand;
  font-weight: normal;
  padding: 3px;
  color: red;
  text-align: left;
}
.event2 {
  margin-top: 30px;
}

.event2_img {
  float: left;
  padding-right: 15px;
}

.event_button {
  align: center;
  font-size: 14px;
  font-family: Quicksand;
  background-color: red;
  color: white;
  line-height: 100%;
  width: 91px;
  height: 23px;
  text-align: center;
  transition: all ease .5s;
  cursor: pointer;
  border: none;
  margin-top: 6px;
  margin-right: 102px;
}
.event_button:hover {
  background-color: black;
  color: white;
}

.view_button2 {
  margin-top: 40px;
  margin-left: 65%;
  align: center;
  font-size: 18px;
  font-family: Quicksand;
  padding: 2px;
  background-color: black;
  color: white;
  line-height: 100%;
  width: 113px;
  height: 36px;
  text-align: center;
  transition: all ease .5s;
  cursor: pointer;
  border-color: black;
}
.view_button2:hover {
  background-color: red;
  color: white;
}
/* end of events css */
 /* footer css */
 .footer {
   background-color: black;
   color: white;
   max-width: 100%;
   height: 212px;
   margin-top: 50px;
 }
 .footer::after {
     content: "";
     clear: both;
     display: block;
 }
 .link {
   float: left;
 }
 .link h3 {
   padding-left: 52px;
   padding-top: 23px;
   color: red;
   font-family: Quicksand;
   font-size: 18px;
   font-weight: normal;
 }
 .link ul {
   padding-top: 14px;
   padding-left: 53px;
   list-style-type: disc;
   color: white;
  }
  .link li {
    padding-top: 3px;
  }
   .link a {
     color: white;
     text-decoration: none;
     font-size: 13px;
     font-family: Quicksand;
     font-weight: lighter;
   }
 .contact {
   float: right;
   padding-top: 59px;
   list-style-type: none;
   padding-right: 40px;
 }
 .contact li {
   padding-top: 8px;
   font-size: 13px;
   font-weight: normal;
   font-family: Quicksand;
 }
 /* socilicons css */
 .socialicons {
   float: right;
   padding-top: 21px;
   padding-right: 69px;
   cursor: pointer;
 }
 .fa-facebook-f {
   color: white;
 }
 .fa-facebook-f:hover {
   color: red;
 }
 .fa-twitter {
   color:white;
   padding-left:13px
 }
 .fa-twitter:hover {
   color: red;
 }
 .fa-linkedin-in {
   color:white;
   padding-left:13px
 }
 .fa-linkedin-in:hover {
   color: red;
 }
 .fa-pinterest-p {
   color:white;
   padding-left:13px
 }
 .fa-pinterest-p:hover {
   color: red;
 }
 .fa-google-plus-g {
   color:white;
   padding-left:13px
 }
 .fa-google-plus-g:hover {
   color: red;
 }
 .fa-instagram {
   color:white;
   padding-left:13px
 }
 .fa-instagram:hover {
   color: red;
 }
 /* end of social icons css */
 /* copyrights css */
 .copy {
   max-width: 100%;
   height: 32px;
   background-color: #4e4e4e;
   color: white;
   text-align: center;
 }
 .copy p {
   font-size: 8px;
   font-weight: normal;
   font-family: Quicksand;
   padding-top: 12px;
 }
 #back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 22px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    opacity: 0.5;
}
#back2Top:hover {
    background-color: red;
    color: white;
}
/* end of mobile css */
/* pc css */
@media only screen and (min-width: 1200px){
 .hamburger,.cross,.mobilenews,.event1_img,.event2_img {
   display: none;
 }
 .container {
   width: 1024px;
   margin: 0 auto;

 }
 .view_button,.view_button2,.second {
   display: none;
 }

 * {
   margin: 0 auto;
   padding: 0 auto;
 }
/* navigation css */
 .logo {
   margin-left: 27px;
   padding-top: 13px;
   display: inline-block;
 }
 .pcmenu {

   margin-top: 52px;
   margin-right: 40px;
 }
 .navigation {
   list-style-type: none;
   float: left;
  }
  .navigation li {
    float: left;
    padding-left: 50px;

  }
  .navigation a {
    color: black;
    text-decoration: none;
    float: left;
    display: block;
    font-size: 18px;
    font-weight: normal;
    font-family: Quicksand;
  }
  .navigation a:hover {
    color: red;
  }
  /* end of navigation css */
  /* main visual css */
.main_image {
  background-image: url(../Image/mainpc.jpg);
  width: 100%;
  height: 520px;
  margin-top: 18px;
}
.hero_text {
  font-size: 30px;
  font-family: Quicksand;
  padding-top: 157px;
  padding-left: 15px;
  color: white;
  text-align: center;
}
.main_button {
  font-size: 18px;
  font-family: Quicksand;
  padding: 3px;
  background-color: ;
  border: 0.5 solid white;
  opacity: 0.7;
  text-align: center;
  color: white;
  line-height: 100%;
  width: 241px;
  height: 47px;
  transition: all ease .5s;
  cursor: pointer;

  margin-top: 40px;
}
.main_button:hover {
  background-color: red;
  color: white;
  border: 2px solid black;
}
/* end of main visual css */
/* programmes css */
.programmes {
  background-color: white;
  margin-top: -58px;
  width: 900px;
  margin-left: auto;
}
.programmes::after {
    content: "";
    clear: both;
    display: block;
}
.programmes h2 {
  font-size: 32px;
  font-family: Quicksand;
  font-weight: normal;

  padding-top: 14px;
}
.programmes_list {
  list-style-type: none;
  padding-top: 28px;
}
.pcview {
  display: inline;
}
.pg {
  background-image: none;
  float: left;
  display: inline-block;
  padding-left: 2px;
  width: 210px;
  text-align: center;
}
.pg h3 {
  font-size: 27px;
  font-family: Quicksand;
  font-weight: normal;
  padding-left: 87px;
  padding-top: 14px;
  color: red;
}
.pg p {
  width: 210px;
  text-align: center;
  font-size: 13px;
  font-family: Quicksand;
  font-weight: normal;
  font-style: bold;
  color: black;
}
.ug {
  margin-right: 0px;
  width: 210px;
  padding-right: 37px;
}
.ug h3 {
  font-size: 27px;
  font-family: Quicksand;
  font-weight: normal;
  padding-left: 81px;
  padding-top: 14px;
  color: red;
}
.ug p {
  width: 210px;
  text-align: center;
  font-size: 13px;
  font-family: Quicksand;
  font-weight: normal;
  font-style: bold;
}
.prog_button1 {
    font-size: 13px;
    font-family: Quicksand;
    padding: 5px;
    background-color: red;
    color: white;
    line-height: 100%;
    width: 53px;
    height: 22px;
    text-align: center;
    transition: all ease .5s;
    cursor: pointer;
    margin-top: 9px;
    margin-left: 73px;
    border: none;
}
.prog_button1:hover {
  background-color: black;
  color: white;
}
.prog_button2 {
    font-size: 13px;
    font-family: Quicksand;
    padding: 5px;
    background-color: red;
    color: white;
    line-height: 100%;
    width: 53px;
    height: 22px;
    text-align: center;
    transition: all ease .5s;
    cursor: pointer;
    margin-top: 9px;
    margin-left: 73px;
    border: none;
}
.prog_button2:hover {
  background-color: black;
  color: white;
}
/* end of programmes css */
/* admission css */
.admission {
  margin-top: 50px;

}
.admission::after {
    content: "";
    clear: both;
    display: block;
}
.admission::before {
    content: "";
    clear: both;
    display: block;
}
.admission h3 {
  font-size: 32px;
  font-family: Quicksand;
  font-weight: normal;
  padding-left: 40%;
}
.pcadmission {
  margin-left: 140px;
  margin-top: 40px;
  display: inline-block;
  float: left;
}
.admission_image {
  border:0.5px solid black;
  width: 530px;
  height: 315px;
  margin-top: 40px;
  margin-right: 148px;
}
.admission_image h3 {
font-size: 30px;
color: red;
font-family: Quicksand;
font-weight: normal;
padding-left: 25px;
padding-top: 20px;
font-style: bold;
}
.admission_image h4 {
  font-size: 22px;
  font-weight: normal;
  font-family: Quicksand;
  padding-left: 29px;
  padding-top: 18px;
}
.admission_image p {
  font-size: 18px;
  font-family: Quicksand;
  padding-left: 27px;
  padding-top: 18px;
  padding-right: 45px;
}
.ad_button {
    font-size: 18px;
    font-family: Quicksand;
    padding: 5px;
    background-color: black;
    color: white;
    line-height: 100%;
    width: 124px;
    height: 36px;
    text-align: center;
    transition: all ease .5s;
    cursor: pointer;
    border: none;
    margin-top: 25px;
    margin-left: 27px;
  }
  .ad_button:hover {
    background-color: red;
    color: white;
  }
 /* end of admission css */
 /* research css  */
.Research {
  margin-top: 50px;
}
.Research::after {
    content: "";
    clear: both;
    display: block;
}
.Research::before {
    content: "";
    clear: both;
    display: block;
}
.Research h2 {
  font-size: 32px;
  font-family: Quicksand;
  font-weight: normal;
  padding-left: 45%;
}
.research_image {
  float: left;
  border:0.5px solid black;
  width: 538px;
  height: 315px;
  margin-top: 40px;
  margin-left: 140px;
}
.pcresearch {
  margin-top: 40px;
}
.research_image h3 {
  font-size: 30px;
  color: red;
  font-family: Quicksand;
  font-weight: normal;
  padding-left: 25px;
  padding-top: 20px;
  font-style: bold;
}
.research_image p {
  font-size: 18px;
  font-family: Quicksand;
  padding-left: 27px;
  padding-top: 18px;
}
.research_button {
    font-size: 18px;
    font-family: Quicksand;
    padding: 5px;
    background-color: black;
    color: white;
    line-height: 100%;
    width: 124px;
    height: 36px;
    text-align: center;
    transition: all ease .5s;
    cursor: pointer;
    border: none;
    margin-top: 25px;
    margin-left: 27px;
  }
  .research_button:hover {
    background-color: red;
    color: white;
  }
/* end of research css */
/* news css */
.news {
  margin-top: 50px;
}
.news::after {
    content: "";
    clear: both;
    display: block;
}
.news h2 {
  font-size: 32px;
  font-family: Quicksand;
  font-weight: normal;
  padding-left: 41%;
  display: block;
}
.news_list {
  list-style-type: none;
  margin-top: 40px;
  margin-left: 120px;
}
.news_list li {
  float: left;
}
.news1 {
  margin-left: -20px;
}
.news1_content {
  height: 160px;
  width: 262px;
  border: 0.5px solid black;
  margin-left: 0;
  font-size: 13px;
  font-family: Quicksand;
  font-weight: bold;
  color: red;
  margin-top: -4px;
  text-align: center;
  padding-top: 15px;
}
.pcnewscontent {
  font-size: 12px;
  font-family: Quicksand;
  font-weight: normal;
  color: black;
  text-align: center;
  padding-top: 14px;
}
.news2 {
  margin-left: 143px;
}
.news2_content {
  height: 160px;
  width: 262px;
  border: 0.5px solid black;
  margin-left: 0;
  font-size: 13px;
  font-family: Quicksand;
  font-weight: bold;
  color: red;
  margin-top: -4px;
  padding-top: 15px;
  text-align: center;
}
.news3 {
  margin-left: 137px;
}
.news3_content {
  height: 160px;
  width: 262px;
  border: 0.5px solid black;
  margin-left: 0;
  font-size: 13px;
  font-family: Quicksand;
  font-weight: bold;
  color: red;
  margin-top: -4px;
  padding-top: 15px;
  text-align: center;
}
.news1_button {
    font-size: 13px;
    font-family: Quicksand;
    padding: 5px;
    background-color: red;
    color: white;
    line-height: 100%;
    width: 63px;
    height: 25px;
    text-align: center;
    transition: all ease .5s;
    cursor: pointer;
    border: none;
    display: block;
    margin-left: 88px;
    margin-top: 24px;
}
.news1_button:hover {
  background-color: black;
  color: white;
}
.news2_button {
    font-size: 13px;
    font-family: Quicksand;
    padding: 5px;
    background-color: red;
    color: white;
    line-height: 100%;
    width: 63px;
    height: 25px;
    text-align: center;
    transition: all ease .5s;
    cursor: pointer;
    border: none;
    display: block;
    margin-left: 88px;
    margin-top: 24px;
}
.news2_button:hover {
  background-color: black;
  color: white;
}
.news3_button {
    font-size: 13px;
    font-family: Quicksand;
    padding: 5px;
    background-color: red;
    color: white;
    line-height: 100%;
    width: 63px;
    height: 25px;
    text-align: center;
    transition: all ease .5s;
    cursor: pointer;
    border: none;
    display: block;
    margin-left: 99px;
    margin-top: 14px;
}
.news3_button:hover {
  background-color: black;
  color: white;
}
/* end of news css */
/* events css */
.events {
  margin-top: 50px;
}
.events::after {
    content: "";
    clear: both;
    display: block;
}
.events h2 {
  font-size: 32px;
  font-family: Quicksand;
  font-weight: normal;
  padding-left: 41%;
  display: block;
  float: left;
}
.event1 {
  padding-top: 77px;
}
.event1_img_pc {
  display: inline;
  float: right;
  margin-right: 160px;
}
.left_container {
  padding-left: 160px;
}
.pcdate {
  display: inline-block;
}
.pcdate h3 {
  width: 103px;
  height: 78px;
  border: 1px solid black;
  margin-left: 0px;
  text-align: center;
  padding-top: 21px;
  font-size: 35px;
  font-family: Quicksand;
  font-weight: normal;
  display: inline-block;
}
.pcdate p {
  font-size: 20px;
  background-color: #252525;
  color: white;
  font-family: Quicksand;
  font-weight: normal;
  width: 105px;
  height: 33px;
  margin-left: 0px;
  text-align: center;
  padding-top: 3px;
}
.first {
float: right;
margin-right: 246px;
margin-top: 17px;
font-size: 18px;
color: red;
font-family: Quicksand;
font-weight: 400;
}
.second1 {
  float: right;
  margin-right: 458px;
  margin-top: -80px;
  font-size: 19px;
  font-weight: 400;
}
.event_button {
    float: right;
    margin-right: 529px;
    margin-top: -38px;
    width: 87px;
    height: 27px;
    background-color: red;
    border: none;
    font-size: 15px;
    color: white;
    font-family: Quicksand;
    cursor: pointer;
}
.event_button:hover {
  background-color: black;
  color: white;
}
.event2 {
  margin-top: 40px;
}
.event2_img_pc {
  float: right;
  margin-right: 160px;
}
.first2 {
float: right;
margin-right: 233px;
margin-top: 17px;
font-size: 18px;
color: red;
font-family: Quicksand;
font-weight: 400;
}
.second2 {
  float: right;
  margin-right: 460px;
  margin-top: -79px;
  font-weight: 400;
  font-size: 19px;
}
.event3 {
  margin-top: 40px;
}
.event3_img {
  float: right;
  margin-right: 160px;
}
.first3 {
float: right;
margin-right: 218px;
margin-top: 17px;
font-size: 18px;
color: red;
font-family: Quicksand;
font-weight: 400;
}
.second3 {
  float: right;
  margin-right: 460px;
  margin-top: -79px;
  font-weight: 400;
  font-size: 19px;
}
/* end of events class  */
/* footer css */
.footer {
  margin-top: 80px;
  background-color: black;
  color: white;
}
.footer::after {
    content: "";
    clear: both;
    display: block;
}
.link {
  padding-top: 26px;
  margin-left: 125px;
}
.link h3 {
    padding-left: 37px;
    font-size: 18px;
    font-family: Quicksand;
    font-weight: 400;
    color: red;
}
.links {
  list-style-type: disc;
  padding-top: 12px;
  display: inline-block;
}
.links li {
  padding-top: 5px;
}
.links a {
  text-decoration: none;
  color: white;
}
.links a:hover {
  color: red;
}
.contacts {
    float: right;
    margin-right: 164px;
    margin-top: -125px;
}
.contact {
  list-style-type: none;
}
.contact li {
  padding-top: 12px;
}
/* end of contact css */
/* socialicons css */
.socialicons {
  float: right;
  font-size: 20px;
  margin-right: 210px;
  margin-top: -3px;
  padding-bottom: 25px;
  cursor: pointer;
}
.fa-facebook-f {
  color: white;
}
.fa-facebook-f:hover {
  color: red;
}
.fa-twitter {
  color:white;
  padding-left:13px
}
.fa-twitter:hover {
  color: red;
}
.fa-linkedin-in {
  color:white;
  padding-left:13px
}
.fa-linkedin-in:hover {
  color: red;
}
.fa-pinterest-p {
  color:white;
  padding-left:13px
}
.fa-pinterest-p:hover {
  color: red;
}
.fa-google-plus-g {
  color:white;
  padding-left:13px
}
.fa-google-plus-g:hover {
  color: red;
}
.fa-instagram {
  color:white;
  padding-left:13px
}
.fa-instagram:hover {
  color: red;
}
/* end of socialicons css */
/* copyright css */
.copy {
  background-color: #4e4e4e;
  width: 100%;
  height: 53px;
  text-align: center;
}
.copy p {
  padding-top: 20px;
  font-size: 10px;
  color: white;
  font-weight: normal;
  font-family: Quicksand;
}
#back2Top {
   width: 40px;
   line-height: 40px;
   overflow: hidden;
   z-index: 999;
   display: none;
   cursor: pointer;
   -moz-transform: rotate(270deg);
   -webkit-transform: rotate(270deg);
   -o-transform: rotate(270deg);
   -ms-transform: rotate(270deg);
   transform: rotate(270deg);
   position: fixed;
   bottom: 50px;
   right: 0;
   background-color: black;
   color: white;
   text-align: center;
   font-size: 30px;
   text-decoration: none;
   opacity: 0.5;
}
#back2Top:hover {
   background-color: red;
   color: white;
}

}
